.sidebar__quick-navigation {
  width: 70px;
}

.sidebar__quick-navigation *:not(hr) {
  display: block;
  padding: 10px;
}

.icon-sidebar::before {
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px;
  content: "";
  background-position: center;
}

.icon_tracking::before {
  background-image: url(../../assets//navigation/tracking-icon-resized.png);
}

.icon_user-history::before {
  background-image: url(../../assets//navigation/userhistory-icon-resized.png);
}

.icon_activity::before {
  background-image: url(../../assets/navigation/activity-icon-resized.png);
}

.icon_project-history::before {
  background-image: url(../../assets/navigation/projecthistory-icon-resized.png);
}

.icon_form-setting::before {
  background-image: url(../../assets/navigation/taskformsettings-icon-resized.png);
}

.icon_users::before {
  background-image: url(../../assets/navigation/users-icon-resized.png);
}

.icon_clients-projects::before {
  background-image: url(../../assets/navigation/clients&projects-icon-resized.png);
}

.icon_user-access::before {
  background-image: url(../../assets/navigation/useraccess-icon-resized.png);
}
