.sidebar__quick-navigation * {
  display: block;
  padding: 10px;
}

.icon-sidebar {
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 34px;
  width: 34px;
  background-position: center;
}

a div {
  height: 55px;
  width: 55px;
}

.icon_tracking {
  background-image: url(../../assets/navigation/tracking-icon.png);
}

.icon_user-history {
  background-image: url(../../assets/navigation/userhistory-icon.png);
}

.icon_activity {
  background-image: url(../../assets/navigation/activity-icon.png);
}

.icon_project-history {
  background-image: url(../../assets/navigation/projecthistory-icon.png);
}

.icon_form-setting {
  background-image: url(../../assets/navigation/taskformsettings-icon.png);
}

.icon_users {
  background-image: url(../../assets/navigation/users-icon.png);
}

.icon_clients-projects {
  background-image: url(../../assets/navigation/clients&projects-icon.png);
}

.icon_user-access {
  background-image: url(../../assets/navigation/useraccess-icon.png);
}
