<div class="sidebar__quick-navigation">
  <a href="#">
    <span class="icon-sidebar pr-4 icon_tracking"></span>
  </a>
  <a href="#">
    <span class="icon-sidebar pr-4 icon_user-history"> </span>
  </a>
  <a href="#">
    <span class="icon-sidebar pr-4 icon_activity"> </span>
  </a>
  <hr>
  <a href="#">
    <span class="icon-sidebar pr-4 icon_project-history"> </span>
  </a>
  <hr>
  <a href="#">
    <span class="icon-sidebar pr-4 icon_form-setting"> </span>
  </a>
  <a href="#">
    <span class="icon-sidebar pr-4 icon_users"> </span>
  </a>
  <a href="#">
    <span class="icon-sidebar pr-4 icon_clients-projects"> </span>
  </a>
  <a href="#">
    <span class="icon-sidebar pr-4 icon_user-access"> </span>
  </a>
</div>