@import "../../../../styles/general/colors";

.green-message {
  color: $turquoise-color;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  padding-top: 3rem;
}

.main-container__icons * {
  margin: 1.5rem 1rem -3rem 1rem;
}
