<div class="header-container">
  <h1 class="text-1_semibold text-center">Project History</h1>
</div>

<div class="main-container">
  <div class="main-container__margin">
    <app-proj-history-filter-form></app-proj-history-filter-form>
  </div>
</div>

<div class="main-container">

  <div class="green-message">
    <h3>Please select a project first!</h3>
  </div>

  <div class="main-container__subheader-margin">
    <h2 class="text-2_semibold">Selected projects</h2>
  </div>

  <div class="main-container__table-margin">
    <div class="main-container__icons">
      <img src="../../../../assets/user-history/CSVconvert-icon.png" width="24">
      <img src="../../../../assets/user-history/PDFconvert-icon.png" width="24">
      <img src="../../../../assets/user-history/refresh-icon.png" width="24">
    </div>
    <app-proj-history-project></app-proj-history-project>
  </div>
</div>
