<div class="header-container">
  <h1 class="text-1_semibold text-center">Project History</h1>
</div>

<div class="main-container">
  <div class="main-container__margin">
    <app-proj-history-filter-form></app-proj-history-filter-form>
  </div>
</div>

<div class="main-container">

  <div class="green-message">
    <h3 class="text-3_medium">Please select a client</h3>
  </div>

  <!-- <div class="main-container__subheader-margin">
    <h2 class="text-2_semibold">Selected projects</h2>
  </div> -->

  <div class="main-container__table-margin"
    [ngStyle]="clientChangeValue === 'none' ? {'display': 'none'} : {'display': 'block'}">
    <app-proj-history-project></app-proj-history-project>
  </div>
</div>
