<div class="data-table">
  <div class="data-table__content">

    <table class="table1">
      <thead>
      <tr class="table1-grid">
        <th><h3 class="text-4_semibold">Name</h3></th>
        <th><h3 class="text-4_semibold">Department</h3></th>
        <th><h3 class="text-4_semibold">Position</h3></th>
        <th><h3 class="text-4_semibold">Status</h3></th>
        <th><h3 class="text-4_semibold">Phone</h3></th>
        <th><h3 class="text-4_semibold">Email</h3></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr
        class="table1-grid"
        *ngFor="let task of tasks">
        <td><p class="text-5_regular">Mr Amigo</p></td>
        <td><p class="text-5_regular">Development</p></td>
        <td><p class="text-5_regular">Technical Intern</p></td>
        <td><p class="text-5_regular">Active</p></td>
        <td><p class="text-5_regular">+45 66666666</p></td>
        <td><p class="text-5_regular">mramigo@howin.com</p></td>
        <td>
          <img class="img-margin-left" src="../../../../../assets/users/adduser-icon.png" alt="">
          <img class="img-margin-left" src="../../../../../assets/users/sync-icon.png" alt="">
          <img class="img-margin-left" src="../../../../../assets/edit-icon.png" alt="">
          <img class="img-margin-left" src="../../../../../assets/delete-icon.png" alt="">
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
