<div class="profile-preview">
  <div class="profile-preview__body">
    <img class="profile-image" src="https://icon2.cleanpng.com/20171220/qve/anonymous-mask-png-5a3a4666911942.7179111615137685505943.jpg" alt="profile-img">

    <div class="profile-prev-general">
      <p class="text-4_regular">Alex D</p>
      <p class="text-5_regular">alex.d.wiredelta@gmail.com</p>
      <a class="profile-prev-general__icons">
        <a href="#"><img class="profile-prev-icon" src="../../../../assets/edit-icon.png" alt="edit-icon"></a>
        <a href="#"><img class="profile-prev-icon" src="../../../../assets/logout-icon.png" alt="logout-icon"></a>
      </a>
    </div>
  </div>
  <div class="profile-preview__footer">
    <h5 class="text-4_semibold">Wiredelta</h5>
    <h5 class="text-4_regular">Other company</h5>
  </div>
</div>
