<div class="navbar-nav">
  <hr class="mt-2 mb-2">
  <div class="container">
    <div class="row">
      <div class="navigation__profile-image col-sm-3">
      </div>
      <div class="navigation__profile-general col-sm-9">
        <p class="navigation__profile-username text-4_regular text-center"> Alex D </p>
        <p class="navigation__profile-email text-5_regular text-center"> alex.d.wiredelta@gmail.com </p>
        <a class="navigation__profile-controls" style="margin-left: calc(50% - 40px);">
          <a href="#">
            <div class="navigation__profile-edit">
            </div>
          </a>
          <a href="#">
            <div class="navigation__profile-logout">
            </div>
          </a>
        </a>
      </div>
    </div>
  </div>
  <hr class="mt-2 mb-2">
  <h5 class="navigation__profile-company text-4_semibold" style="text-transform: capitalize;"> Wiredelta </h5>
</div>
