<div class="div__tracking pt-2 pb-2">
  <div class="container div__tracking-registration mt-5 text-center">
    <div class="row">
      <div class="col-4">
        <h3 class="text-4"> Task </h3>
        <p class="text-5 current__working-task"> Analytics > Process </p>
      </div>
      <div class="col-4">
        <h3 class="text-4"> Today </h3>
        <p class="text-5 current__working-day"> 6 h 25 </p>
      </div>
      <div class="col-4">
        <h3 class="text-4"> Week </h3>
        <p class="text-5 current__working-week"> 27 h 20 </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-4">
        <h3 class="text-4"> Project </h3>
        <p class="text-5 current__working-project"> Wiredelta > Timer </p>
      </div>
      <div class="col-4">
        <h3 class="text-4"> Month </h3>
        <p class="text-5 current__working-month"> 76 h 37 </p>
      </div>
      <div class="col-4">
        <h3 class="text-4"> Year </h3>
        <p class="text-5 current__working-year"> 76 h 37 </p>
      </div>
    </div>
  </div>

  <div class="div__tracking-visual">
    <div class="div__tracking-visual-border">
      <p> <span class="text-1_regular">{{counter.h}}:{{counter.min}}</span><span
          class="text-4_regular">:{{counter.sec}}</span></p> <br>
      <div style="flex-basis:100%; margin-left: calc(50% - 45px); margin-top: -60px">
        <img class="controls-image div__tracking-visual-pause" src="../../assets/tracking/pause.png">
        <img class="controls-image div__tracking-visual-stop" src="../../assets/tracking/stop.png">
      </div>
    </div>
  </div>
</div>
