<div class="data-table">
  <div class="data-table__content">

    <table class="table-toggle">
      <thead>
      <tr class="table-toggle-grid__4fr">
        <th></th>
        <th><h3 class="text-4_semibold uppercase">Name</h3></th>
        <th class="align-right"><h3 class="text-4_semibold uppercase">Option State</h3></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr
        class="table-toggle-grid__4fr"
        *ngFor="let task of tasks">
        <td>
          <img class="img-margin-right" src="../../../../../assets/delete-icon.png" alt="">
          <img class="img-margin-right" src="../../../../../assets/edit-icon.png" alt="">
        </td>
        <td><p class="text-5_regular">Name</p></td>
        <td class="align-right">
          <div class="checkbox-toggle align-right">
            <span class="text-6_regular mobile-hide">Disable</span>
            <input type="checkbox" class="checkbox-toggle__switch">
            <span class="text-6_regular mobile-hide">Enable</span>
          </div>
        </td>
        <td>
          <div class="display-flex__right">
            <p class="text-5_semibold capitalize mobile-hide">View Categories &nbsp;&nbsp; </p>
            <img class="button__arrow" src="../../../../../assets/arrow-icon.png" alt="">
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>


<hr>
<!------------------------------------------------------------------------------->
<!------------- Second table layout is the same as the first one ---------------->


<hr>
<!------------------------------------------------------------------------------->
<!------------------------------- 3rd table layout  ----------------------------->

<div class="data-table">
  <div class="data-table__content">

    <table class="table-toggle">
      <thead>
      <tr class="table-toggle-grid__6fr">
        <th></th>
        <th class="type1"><h3 class="text-4_semibold uppercase">Name</h3></th>
        <th class="type2"><h3 class="text-4_semibold uppercase">Field State</h3></th>
        <th class="type3"><h3 class="text-4_semibold uppercase">Type</h3></th>
        <th class="type4"><h3 class="text-4_semibold uppercase">Position</h3></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr
        class="table-toggle-grid__6fr"
        *ngFor="let task of tasks">
        <td>
          <img class="img-margin-right" src="../../../../../assets/delete-icon.png" alt="">
          <img class="img-margin-right" src="../../../../../assets/edit-icon.png" alt="">
        </td>
        <td class="type1"><p class="text-5_regular">Name</p></td>
        <td class="type2">
          <div class="checkbox-toggle">
            <span class="text-6_regular tablet-hide">Disable</span>
            <input type="checkbox" class="checkbox-toggle__switch">
            <span class="text-6_regular tablet-hide">Enable</span>
          </div>
        </td>
        <td class="type3">
          <div class="display-flex">
            <p class="text-5_regular">Dropdown &nbsp;&nbsp; </p>
            <img class="button__arrow__down" src="../../../../../assets/arrow-icon.png">
          </div>
        </td>
        <td class="type4">
          <div class="display-flex">
            <p class="text-5_regular">Before &nbsp;&nbsp; </p>
            <img class="button__arrow__down" src="../../../../../assets/arrow-icon.png">
          </div>
        </td>
        <td class="display-flex__right">
          <p class="text-5_semibold capitalize tablet-hide-sm">View Options &nbsp;&nbsp; </p>
          <img class="button__arrow" src="../../../../../assets/arrow-icon.png">
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>


<hr>
<!------------------------------------------------------------------------------->
<!------------------------------- 4rd table layout  ----------------------------->

<div class="data-table">
  <div class="data-table__content">

    <table class="table-toggle">
      <thead>
      <tr class="table-toggle-grid">
        <th></th>
        <th><h3 class="text-4_semibold uppercase">Name</h3></th>
        <th class="align-right"><h3 class="text-4_semibold uppercase">Option State</h3></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr
        class="table-toggle-grid"
        *ngFor="let task of tasks">
        <td>
          <img class="img-margin-right" src="../../../../../assets/delete-icon.png" alt="">
          <img class="img-margin-right" src="../../../../../assets/edit-icon.png" alt="">
        </td>
        <td><p class="text-5_regular">Name</p></td>
        <td class="align-right">
          <div class="checkbox-toggle align-right">
            <span class="text-6_regular mobile-hide">Disable</span>
            <input type="checkbox" class="checkbox-toggle__switch">
            <span class="text-6_regular mobile-hide">Enable</span>
          </div>
        </td>
        <td></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
