@import "../../../../../styles/general/colors";

.button__arrow {
  width: 1rem!important;
}

.data-table {
  margin: auto;
}

/* ************************************* */
/* ****** TABLE WITH TOGGLE LAYOUT ***** */

.table-toggle {
  width: 100%;

  thead > tr {
    border-bottom: .2rem solid $grey-color-light;
  }

  tbody > tr {
    padding: 1rem 0;
    border-bottom: .1rem solid $grey-color-light;

    &:last-child {
      border: none;
    }
  }

  th, td {
    padding: .5rem 0;
    display: flex;

    &:first-child {
      justify-content: space-between;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }

  .table-toggle-grid {
    display: grid !important;
    grid-template-columns: 5rem 1.8fr 1.4fr 0.3fr;
    grid-column-gap: 2rem;
    align-items: center;

    @media screen and (min-width: 900px) {
      grid-template-columns: 5rem repeat(3, 1fr);
    }
  }

  img {
    width: 2rem;
  }
}

@media (max-width: 900px) {
  .hide-on-phone {
    display: none;
  }

  .align-right {
    text-align: end;
    justify-content: flex-end!important;
  }
}


/* ************************************* */
/* ****** TABLE WITH TOGGLE LAYOUT ***** */

.table-toggle2 {
  width: 100%;

  thead > tr {
    border-bottom: .2rem solid $grey-color-light;
  }

  tbody > tr {
    padding: 1rem 0;
    border-bottom: .1rem solid $grey-color-light;

    &:last-child {
      border: none;
    }
  }

  th, td {
    padding: .5rem 0;
    display: flex;

    &:first-child {
      justify-content: space-between;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }

  .table-toggle-grid {
    display: grid !important;
    grid-template-columns: 5rem 1.5fr 1.5fr 1rem;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      ". type1 type2 ."
      ". type3 type4 .";
    grid-column-gap: 2rem;
    align-items: center;

    @media screen and (min-width: 900px) {
      grid-template-columns: 5rem 1fr 1fr repeat(2, 1fr) 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:". type1 type2 type3 type4 .";
    }

    @media screen and (min-width: 1200px) {
      grid-template-columns: 5rem 1fr 1.5fr repeat(2, 1fr) 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:". type1 type2 type3 type4 .";
    }
  }

  img {
    width: 2rem;
  }
}

@media (max-width: 900px) {
  .mobile-hide {
    display: none;
  }

  .align-right {
    text-align: end;
    justify-content: flex-end!important;
  }
}

@media (max-width: 1200px) {
  .tablet-hide {
    display: none;
  }
}

.type1 {grid-area: type1}
.type2 {grid-area: type2}
.type3 {grid-area: type3}
.type4 {grid-area: type4}



