<div class="main-container">
  <div class="main-container__table-margin">
    <div class="data-table__dropdown-container">
      <div class="dropdown-button">
        <div class="dropdown-button__header">
          <div class="dropdown-button__header__margin">
            <p class="text-4_medium">{{currentMonthName.toUpperCase()}}</p>
          </div>
          <p class="text-4_regular">{{totalWorkedTime | millisToTime}}</p>
        </div>
        <img class="dropdown-button__arrow" src="../../../../../assets/user-history/arrow-icon-white.png"/>
      </div>
    </div>

    <div class="data-table pt-5 pb-2 mb-5">
      <div class="container">
        <div class="row">
          <div class="col-4 col-lg-5 d-lg-flex justify-content-around">
            <h3 class="text-5_SemiBold"> Department </h3>
            <h3 class="text-5_SemiBold"> Category </h3>
          </div>
          <div class="col-4 col-lg-4 d-lg-flex justify-content-around">
            <h3 class="text-5_SemiBold "> Client </h3>
            <h3 class="text-5_SemiBold "> Project </h3>
          </div>
          <div class="col-4 col-lg-3">
            <h3 class="text-5_SemiBold "> Time Spent </h3>
          </div>
        </div>
        <hr>
        <div *ngFor="let task of tasks">
          <!--      <div *ngIf="task.date.slice(0,10) === pickedDate.slice(0,10)">-->
          <!--      </div>-->
          <div class="row mt-4 mb-4">
            <div class="col-4 col-lg-5 d-lg-flex justify-content-around">
              <p class="text-5 "> {{ task.department }} </p>
              <p class="text-5 "> {{ task.category }} </p>
            </div>
            <div class="col-4  col-lg-4 d-lg-flex justify-content-around">
              <p class="text-5 "> {{ task.client }} </p>
              <p class="text-5 "> {{ task.project }} </p>
            </div>
            <div class="col-4  col-lg-3 d-lg-flex justify-content-around">
              <p class="text-5 "> {{ task.timeSpent | millisToTime }} </p>
              <img src="../../../../../assets/tracking/restart-icon.png" width="22px" height="22px" style="margin-left: 45px;"
                   class="">
            </div>
          </div>
          <hr>
        </div>
        <div class="row justify-content-end mt-4 mb-4">
          <div class="col-4">
            <p class="text-5_SemiBold"> Total </p>
          </div>
          <div class="col-4">
            <p class="text-5"> {{totalWorkedTime | millisToTime}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--&lt;!&ndash;------------------------------------------------------------------------------&ndash;&gt;-->
<!--&lt;!&ndash;----------- Example of a component with toggle button on top -----------------&ndash;&gt;-->
<!--<hr>-->

<!--<div class="data-table__toggle-container">-->
<!--  <div class="btn-base-toggle align-bottom" data-toggle="buttons" (click)="onToggleButton()">-->
<!--    <span-->
<!--      [ngClass]="{'btn-switcher__animate': animState.currentAnim === 'btn-switcher__animate', 'btn-switcher__animate__reverse': animState.currentAnim === 'btn-switcher__animate__reverse'}"-->
<!--      class="btn-switcher"></span>-->
<!--    <button-->
<!--      [ngClass]="{'btn-toggle__active': animState.btn1}"-->
<!--      class="btn-toggle btn-toggle__fix"-->
<!--      type="button">Check in</button>-->
<!--    <button-->
<!--      [ngClass]="{'btn-toggle__active': animState.btn2}"-->
<!--      class="btn-toggle right btn-toggle__fix"-->
<!--      type="button">Tasks</button>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="data-table pt-5 pb-2 mb-5">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-4 col-lg-5 d-lg-flex justify-content-around">-->
<!--        <h3 class="text-5_SemiBold"> Department </h3>-->
<!--        <h3 class="text-5_SemiBold"> Category </h3>-->
<!--      </div>-->
<!--      <div class="col-4 col-lg-4 d-lg-flex justify-content-around">-->
<!--        <h3 class="text-5_SemiBold "> Client </h3>-->
<!--        <h3 class="text-5_SemiBold "> Project </h3>-->
<!--      </div>-->
<!--      <div class="col-4 col-lg-3">-->
<!--        <h3 class="text-5_SemiBold "> Time Spent </h3>-->
<!--      </div>-->
<!--    </div>-->
<!--    <hr>-->
<!--    <div *ngFor="let task of tasks">-->
<!--      &lt;!&ndash;      <div *ngIf="task.date.slice(0,10) === pickedDate.slice(0,10)">&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->
<!--      <div class="row mt-4 mb-4">-->
<!--        <div class="col-4 col-lg-5 d-lg-flex justify-content-around">-->
<!--          <p class="text-5 "> {{ task.department }} </p>-->
<!--          <p class="text-5 "> {{ task.category }} </p>-->
<!--        </div>-->
<!--        <div class="col-4  col-lg-4 d-lg-flex justify-content-around">-->
<!--          <p class="text-5 "> {{ task.client }} </p>-->
<!--          <p class="text-5 "> {{ task.project }} </p>-->
<!--        </div>-->
<!--        <div class="col-4  col-lg-3 d-lg-flex justify-content-around">-->
<!--          <p class="text-5 "> {{ task.timeSpent | millisToTime }} </p>-->
<!--          <img src="../../../../../assets/tracking/restart-icon.png" width="22px" height="22px" style="margin-left: 45px;"-->
<!--               class="">-->
<!--        </div>-->
<!--      </div>-->
<!--      <hr>-->
<!--    </div>-->
<!--    <div class="row justify-content-end mt-4 mb-4">-->
<!--      <div class="col-4">-->
<!--        <p class="text-5_SemiBold"> Total </p>-->
<!--      </div>-->
<!--      <div class="col-4">-->
<!--        <p class="text-5"> {{totalWorkedTime | millisToTime}} </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
