<!---------------------------------------------------------------------------------->
<!------------- Example of a component with dropdown button on top ----------------->

<div class="main-container">
  <div class="main-container__table-margin">

    <div class="data-table__dropdown-container">
      <div class="dropdown-button">
        <div class="dropdown-button__header">
          <div class="dropdown-button__header__margin">
            <p class="text-4_medium">{{currentMonthName.toUpperCase()}}</p>
          </div>
          <p class="text-4_regular">{{totalWorkedTime | millisToTime}}</p>
        </div>
        <img class="dropdown-button__arrow" src="../../../../../assets/user-history/arrow-icon-white.png"/>
      </div>
    </div>

    <div class="data-table">
      <div class="data-table__content">

        <table class="table1">
          <thead>
            <tr class="table1-grid">
              <th><h3 class="text-4_semibold">Department</h3></th>
              <th><h3 class="text-4_semibold">Category</h3></th>
              <th><h3 class="text-4_semibold">Client</h3></th>
              <th><h3 class="text-4_semibold">Project</h3></th>
              <th><h3 class="text-4_semibold">Time Spent</h3></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="table1-grid"
              *ngFor="let task of tasks">
              <td><p class="text-5_regular">{{ task.department }}</p></td>
              <td><p class="text-5_regular">{{ task.category }}</p></td>
              <td><p class="text-5_regular">{{ task.client }}</p></td>
              <td><p class="text-5_regular">{{ task.project }}</p></td>
              <td><p class="text-5_regular">{{ task.timeSpent | millisToTime }}</p></td>
              <td>
                <img src="../../../../../assets/tracking/restart-icon.png">
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>


<!---------------------------------------------------------------------------------->
<!------------- Example of a component with toggle button on top ------------------->
<hr>

<div class="main-container">
  <div class="main-container__table-margin">

    <div class="data-table__toggle-container">
      <div class="btn-base-toggle align-bottom" data-toggle="buttons" (click)="onToggleButton()">
    <span
      [ngClass]="{'btn-switcher__animate': animState.currentAnim === 'btn-switcher__animate', 'btn-switcher__animate__reverse': animState.currentAnim === 'btn-switcher__animate__reverse'}"
      class="btn-switcher"></span>
        <button
          [ngClass]="{'btn-toggle__active': animState.btn1}"
          class="btn-toggle btn-toggle__fix"
          type="button">Check in</button>
        <button
          [ngClass]="{'btn-toggle__active': animState.btn2}"
          class="btn-toggle right btn-toggle__fix"
          type="button">Tasks</button>
      </div>
    </div>

    <div class="data-table">
      <div class="data-table__content">

        <table class="table1">
          <thead>
          <tr class="table1-grid">
            <th><h3 class="text-4_semibold">Department</h3></th>
            <th><h3 class="text-4_semibold">Category</h3></th>
            <th><h3 class="text-4_semibold">Client</h3></th>
            <th><h3 class="text-4_semibold">Project</h3></th>
            <th><h3 class="text-4_semibold">Time Spent</h3></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr
            class="table1-grid"
            *ngFor="let task of tasks">
            <td><p class="text-5_regular">{{ task.department }}</p></td>
            <td><p class="text-5_regular">{{ task.category }}</p></td>
            <td><p class="text-5_regular">{{ task.client }}</p></td>
            <td><p class="text-5_regular">{{ task.project }}</p></td>
            <td><p class="text-5_regular">{{ task.timeSpent | millisToTime }}</p></td>
            <td>
              <img src="../../../../../assets/tracking/restart-icon.png">
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr class="table1-grid">
            <td></td>
            <td></td>
            <td></td>
            <td><p class="text-5_semibold">Total </p></td>
            <td><p class="text-5_semibold">{{ totalWorkedTime | millisToTime }}</p></td>
            <td></td>
          </tr>
          </tfoot>
        </table>

      </div>
    </div>

  </div>
</div>


<!---------------------------------------------------------------------------------->
<!----------------------- EXAMPLE OF A DIFFERENT DATA TABLE ------------------------>
<hr>

<div class="main-container">
  <div class="main-container__table-margin">

    <div class="data-table__toggle-container">
      <div class="btn-base-toggle align-bottom" data-toggle="buttons" (click)="onToggleButton()">
    <span
      [ngClass]="{'btn-switcher__animate': animState.currentAnim === 'btn-switcher__animate', 'btn-switcher__animate__reverse': animState.currentAnim === 'btn-switcher__animate__reverse'}"
      class="btn-switcher"></span>
        <button
          [ngClass]="{'btn-toggle__active': animState.btn1}"
          class="btn-toggle btn-toggle__fix"
          type="button">Check in</button>
        <button
          [ngClass]="{'btn-toggle__active': animState.btn2}"
          class="btn-toggle right btn-toggle__fix"
          type="button">Tasks</button>
      </div>
    </div>

    <div class="data-table">
      <div class="data-table__content__timeline">

        <div class="timeline">
          <div class="timeline__circle">
            <div class="timeline__content">

              <div class="timeline__content__header">
                <h3 class="text-4_semibold">Today, {{ currentDate }}</h3>
              </div>
              <div class="timeline__content__main">
                <table class="table-timeline">
                  <tbody>
                  <tr
                    *ngFor="let task of tasks">
                    <td>
                      <img class="profile-pic" src="https://icon2.cleanpng.com/20171220/qve/anonymous-mask-png-5a3a4666911942.7179111615137685505943.jpg">
                      <span class="table-timeline__span-fix">
                        <p class="text-5_semibold">{{ task.department }}</p>
                        <p class="text-5_regular">{{ task.client }}</p>
                      </span>
                    </td>
                    <td><p class="text-5_regular">{{ task.timeSpent | millisToTime }}</p></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
