<div class="container">

  <button class="btn button-base button-active button-checkIn" (click)="changeStatus($event)" #statusButton>
    {{ displayText }} </button>
  <button class="btn button-base button-active button-checkOut" [disabled]="!checkedIn"
    (click)="verifyStatusAndExit(statusButton)">
    Check Out
  </button>

  <div class="row counter__row">
    <div class="col-sm-12 d-flex justify-content-center">
      <p class="counter__real-time text-3_regular"> {{counter.h}} : {{counter.min}} : {{counter.sec}}</p>
    </div>
  </div>

</div>
