.navigation__profile-icon-container {
  width: 48px;
  height: 48px;
  background-color: aquamarine;
  border-radius: 32px;
  border: 1px solid black;
}

nav {
  box-shadow: var(--soft-shadow);
}

.navigation__profile-icon-container:hover {
  cursor: pointer;
}

.navigation__menu-icon:hover {
  cursor: pointer;
}

.navigation__profile-icon {
  all: unset;
}

hr {
  width: 100%;
}

.navigation__logo-icon {
  display: none;
}

.navbar-collapse {
  overflow-x: hidden;
}

@media screen and (min-width: 600px) {
  .navigation__logo-icon {
    display: block;
    margin-left: -70%;
  }
}
