<nav class="navbar navbar-light bg-light">
  <a class="navigation__menu-icon" (click)="toggleSidebar()">
    <img src="../../assets/menu-icon-dummy.png" width="32" height="32" alt="Menu Icon">
  </a>
  <button class="navigation__profile-icon float-right navbar-toggler" 
  type="button" 
  (click)="toggleNavbar()"
  >
    <div class="navigation__profile-icon-container">
    </div> 
  </button>
  <div class="collapse navbar-collapse" style="display:block" [style.display]="displayNav">
    <app-profile-quickview> </app-profile-quickview>
  </div>
</nav>
