<nav class="navbar navbar-light bg-light" [style.box-shadow]="displayShadow">
  <a class="navigation__menu-icon" (click)="toggleSidebar($event)">
    <img src="../../assets/header/burgermenu-icon.png" width="28" height="22" alt="Menu Icon">
  </a>
  <a class="navbar-brand float-left navigation__logo-icon" href="#">
    <img src="../../assets/header/logo.png" width="150" alt="Wiredelta">
  </a>
  <button class="navigation__profile-icon float-right navbar-toggler" 
  type="button" 
  (click)="toggleNavbar()"
  >
    <div class="navigation__profile-icon-container">
    </div> 
  </button>
</nav>
<div class="collapse navbar-collapse" style="display:block;" [style.display]="displayNav">
  <app-profile-quickview> </app-profile-quickview>
</div>
