<h1 class="text-2_regular modal-title margin-xl"> Add Department </h1>
<form (ngSubmit)="onSubmit(f)" #f="ngForm" class="container-modal">
  <div id="add-user-history-task" ngModelGroup="addTask" class="margin-bottom-l">
    <div class="modal-grid-field">
      <div class="margin-bottom-l margin-top-l">
        <label for="department" class="basic-label"> Department Name </label>
        <input name="department" type="text" class="basic-input" ngModel required minlength="2"
          placeholder="Enter a new department name">
      </div>
    </div>
    <div class="modal-grid-btn margin-top-l">
      <button class="btn button-base button-active modal-btn" [disabled]="f.invalid" type="submit" mat-dialog-close
        (click)="changeModalState()">
        Add
      </button>
      <button class="btn button-base button-cancel modal-btn" mat-dialog-close (click)="changeModalState()"> Cancel
      </button>
    </div>
  </div>
</form>
