@import "../../../../../styles/general/colors";


.button-add {
  margin: 3rem 0;
  width: 6rem;
  height: 6rem;
  box-shadow: $soft-shadow;

  &__png {
    width: 3rem;
  }
}

@media screen and (min-width: 500px){
  .button-add {
    margin: 0 0!important;
  }
}


.button__arrow {
  height: 1rem!important;
}
