.navbar-nav {
  width: 100%;
  background-color: var(--white-color);
}

.navigation__profile-controls div {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 5px;
}

.navigation__profile-image {
  width: 90px;
  height: 90px;
  background-color: aquamarine;
  border-radius: 160px;
  border: 1px solid black;
}

.navigation__profile-edit {
  background-image: url(../../assets/edit-icon.png);
}

.navigation__profile-logout {
  background-image: url(../../assets/logout-icon.png);
}

.navigation__profile-image {
  display: none;
}

/* min-width for desktop to be later on changed  */

@media screen and (min-width: 600px) {
  .navbar-nav {
    width: 380px;
    background-color: var(--white-color);
    margin-left: calc(100% - 380px);
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: var(--soft-shadow);
    position: absolute;
    overflow-x: hidden;
  }

  .navigation__profile-image {
    display: block;
  }

}
