<div class="navigation__sidebar-container">

  <div class="menu">
    <ul class="list-group menu__list-options">
      <li class="list-group-item">
        <p class="text-4_semibold"> User </p>
        <ul>
          <li class="menu-option text-5_regular align-content"> <span class="icon-sidebar pr-4 icon_tracking">
            </span>Tracking
          </li>
          <li class="menu-option text-5_regular align-content"> <span class="icon-sidebar pr-4 icon_user-history">
            </span>User
            History </li>
          <li class="menu-option text-5_regular align-content"> <span class="icon-sidebar pr-4 icon_activity">
            </span>Activity
          </li>
        </ul>
      </li>
      <li class="list-group-item">
        <p class="text-4_semibold"> Projects</p>
        <ul>
          <li class="menu-option text-5_regular align-content"> <span class="icon-sidebar pr-4 icon_project-history">
            </span>Project History</li>
        </ul>
      </li>
      <li class="list-group-item">
        <p class="text-4_semibold"> Admin </p>
        <ul>
          <li class="menu-option text-5_regular align-content"> <span class="icon-sidebar pr-4 icon_form-setting">
            </span>Form
            Setting </li>
          <li class="menu-option text-5_regular align-content"> <span class="icon-sidebar pr-4 icon_users"> </span>Users
          </li>
          <li class="menu-option text-5_regular align-content"> <span class="icon-sidebar pr-4 icon_clients-projects">
            </span>Clients & Projects </li>
          <li class="menu-option text-5_regular align-content"> <span class="icon-sidebar pr-4 icon_user-access">
            </span>User
            Access </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
