<nav class="navbar navbar-light bg-light">
  <a class="navigation__menu-icon">
    <img src="../../../../assets/cross-icon.png" width="28" height="28" alt="Menu Icon" (click)="closeSidebar()">
  </a>
    <div class="navigation__profile-icon-container">
    </div>
  <div class="collapse navbar-collapse" style="display:block" [style.display]="displayNav">
    <app-profile-quickview> </app-profile-quickview>
  </div>
</nav>

<div class="menu" style="text-transform: uppercase;">
  <ul class="list-group menu__list-options">
  <li class="list-group-item" *ngFor="let obj of arrMenuItems;">
  <p class="text-4"> {{ obj.name }} </p>
  <ul *ngFor="let item of obj.arr">
    <li class="menu-option text-5 align-content"> <a href="{{item[2]}}"> <span class="icon-sidebar pr-4 {{item[1]}}"> {{item[0]}} </span> </a> </li>
  </ul>
  </li>
  </ul>
</div>
