<nav class="navbar navbar-light bg-light" [style.box-shadow]="displayShadow">
  <a class="navigation__menu-icon" (click)="toggleSidebarComponent()">
    <img src="{{menuIconSrc}}" width="28" height="22" alt="Menu Icon">
  </a>
  <a class="navbar-brand float-left navigation__logo-icon" href="#">
    <img src="../../../../assets/header/logo.png" width="150" alt="Wiredelta">
  </a>


  <app-timer-counter style="margin-left: 80%;" class="time-controller">
  </app-timer-counter>


  <button class="navigation__profile-icon float-right navbar-toggler" type="button" (click)="toggleProfileQuickview()">
    <div class="navigation__profile-icon-container">
    </div>
  </button>
</nav>
<div class="collapse navbar-collapse" style="display:block;" [style.display]="displayProfileQuickview">
  <app-profile-quickview> </app-profile-quickview>
</div>
