<div class="header-container">
  <h1 class="text-1_semibold text-center">User Access</h1>
</div>

<div class="main-container">

  <div class="main-container__subheader-margin">

    <div class="main-container__subheader-margin__subheader">
      <h2 class="text-2_semibold">Positions</h2>
      <button class="button-add" (click)="openModal()">
        <img class="button-add__png" src="../../../../assets/user-history/add-icon-white.png">
      </button>
    </div>


  </div>
  <div class="main-container__table-margin">
    <app-user-access-data-table></app-user-access-data-table>
  </div>
</div>
