<div class="modal__stop-task">
  <h1 class="text-2_regular"> Stop Task </h1>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div id="terminate-task" ngModelGroup="terminateTask">
      <label for="description" class="basic-label"> Description </label>
      <input id="description" #hasDescription="ngModel" minlength="4" class="basic-input" name="description" ngModel
        required>
    </div>

    <button class="btn button-base button-active" [disabled]="hasDescription.invalid" type="submit"> Stop </button>
    <button class="btn button-base button-cancel" mat-dialog-close> Cancel </button>
  </form>
</div>
