.tasksdone__switch-day {
  width: 300px;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: var(--soft-shadow);
  margin: 25px;
  margin-left: calc(50% - 150px);
}

h3 {
  padding: 5px 0;
}

// Toggler

.button-base-switch {
  font-family: "MontserratMedium";
  font-size: 1.6rem;
  width: 150px;
  padding: 10px 20px;
  background-color: var(--white-color);
  color: var(--blue-color);
  border-radius: 10px;
  text-transform: uppercase;
  border: 0;
  position: relative;
}

.active,
.active2 {
  width: 150px;
  height: 45px;
  border-radius: 10px;
  position: absolute;
  background-color: var(--blue-color);
  z-index: 1;
}

.active-switch {
  color: white;
  background-color: var(--blue-color);
}

.toggleLeft {
  animation: toggleAnimLeft 1s forwards;
}

.toggleRight {
  animation: toggleAnimRight 1s forwards;
}

@keyframes toggleAnimRight {
  0% {
    transform: translateX(0%);
  }

  99% {
    transform: translateX(150px);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes toggleAnimLeft {
  0% {
    transform: translateX(150px);
  }

  99% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
