<div class="tasksdone__switch-day">
  <span [ngClass]="{'active2 toggleLeft': isOnMoveLeft, 'active toggleRight': isOnMoveRight}"
    [ngStyle]="{'display': isNotOnMove ? 'none' : 'block'}"> </span>
  <button class="button-base-switch" [class.active-switch]="isTodayActive === true"
    (click)="ChangeState($event)">Today</button>
  <button class="button-base-switch" [class.active-switch]="isYesterdayActive === true"
    (click)="ChangeState($event)">Yesterday</button>
</div>

<div class="tasksdone__view-day div__table-container pt-5 pb-2 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-4 col-lg-5 d-lg-flex justify-content-around">
        <h3 class="text-5_semibold"> Department </h3>
        <h3 class="text-5_semibold"> Category </h3>
      </div>
      <div class="col-4 col-lg-4 d-lg-flex justify-content-around">
        <h3 class="text-5_semibold "> Client </h3>
        <h3 class="text-5_semibold "> Project </h3>
      </div>
      <div class="col-4 col-lg-3">
        <h3 class="text-5_semibold "> Time Spent </h3>
      </div>
    </div>
    <hr>
    <div *ngFor="let session of sessions">
      <div *ngIf="session.date.slice(0,10) === pickedDate.slice(0,10)">
        <div class="row mt-4 mb-4">
          <div class="col-4 col-lg-5 d-lg-flex justify-content-around">
            <p class="text-5_regular"> {{ session.department }} </p>
            <p class="text-5_regular"> {{ session.category }} </p>
          </div>
          <div class="col-4  col-lg-4 d-lg-flex justify-content-around">
            <p class="text-5_regular"> {{ session.client }} </p>
            <p class="text-5_regular"> {{ session.project }} </p>
          </div>
          <div class="col-4  col-lg-3 d-lg-flex justify-content-around">
            <p class="text-5_regular"> {{ session.time }} </p>
            <img src="../../../assets/tracking/restart-icon.png" width="22" height="22" class="ml-5">
          </div>
        </div>
        <hr>
      </div>
    </div>
    <div class="row justify-content-end mt-4 mb-4">
      <div class="col-4">
        <p class="text-5_semibold"> Total </p>
      </div>
      <div class="col-4">
        <p class="text-5_regular"> 00 : 00 : 00 </p>
      </div>
    </div>
  </div>
</div>
