ul {
  list-style-type: none;
}

.navigation__sidebar-container {
  position: absolute;
  top: 58px;
  background-color: white;
  z-index: 5;
  width: 100%;
  height: 100vh;
  text-transform: uppercase;
}

.align-content {
  display: flex;
  align-items: center;
}

.menu-option {
  margin-top: 15px;
}

// Icons styling

.icon-sidebar::before {
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px;
  content: "";
  background-position: center;
}

.icon_tracking::before {
  background-image: url(../../../../assets/navigation/tracking-icon.png);
}

.icon_user-history::before {
  background-image: url(../../../../assets/navigation/userhistory-icon.png);
}

.icon_activity::before {
  background-image: url(../../../../assets/navigation/activity-icon.png);
}

.icon_project-history::before {
  background-image: url(../../../../assets/navigation/projecthistory-icon.png);
}

.icon_form-setting::before {
  background-image: url(../../../../assets/navigation/taskformsettings-icon.png);
}

.icon_users::before {
  background-image: url(../../../../assets/navigation/users-icon.png);
}

.icon_clients-projects::before {
  background-image: url(../../../../assets/navigation/clients&projects-icon.png);
}

.icon_user-access::before {
  background-image: url(../../../../assets/navigation/useraccess-icon.png);
}
