<div class="modal__stop-task">
  <h1 class="text-2_regular modal-title margin-xl"> Stop Task </h1>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="container-modal">
    <div id="terminate-task" ngModelGroup="terminateTask" class="margin-bottom-xl">
      <label for="description" class="basic-label"> Description </label>
      <input id="description" type="text" #hasDescription="ngModel" minlength="4" class="basic-input" name="description"
        placeholder="Enter a Task Description" ngModel required>
    </div>

    <div class="modal-grid-btn">
      <button class="btn button-base button-active modal-btn" [disabled]="hasDescription.invalid" type="submit"> Stop
      </button>
      <button class="btn button-base button-cancel modal-btn" mat-dialog-close> Cancel </button>
    </div>
  </form>
</div>
