<div class="header-container">
  <h1 class="text-1_semibold text-center">Activity</h1>
</div>

<div class="main-container__margin margin-fix">
  <div class="green-message">
    <p class="text-5_semibold capitalize" (click)="changeViewMain()">{{ officeOverviewText }} &nbsp;&nbsp; </p>
    <img class="button__arrow" src="../../../../assets/activity/arrow-icon-green.png">
  </div>
</div>

<ng-template #main>

  <div class="main-container">
    <div class="main-container__margin">
      <app-activity-filter-form></app-activity-filter-form>
    </div>
  </div>
  <div class="main-container">
    <div class="main-container__table-margin">
      <app-activity-data-table></app-activity-data-table>
    </div>
  </div>

</ng-template>

<ng-container
  *ngIf="officeOverview === true; else main">
  <app-offices-overview></app-offices-overview>
</ng-container>
