.text-4_SemiBold_LowerCase_blue {
  font-family: 'MontserratSemiBold';
  font-size: 1.8rem;
  color: var(--blue-color)
}

.btn-round_turqoise {
  padding: .75rem;
  border-radius: 100rem;
  background: var(--turqoise-color);
  box-shadow: var(--soft-shadow);
}

.box-shadow_soft {
  box-shadow: var(--soft-shadow);
}
/* ------------- TOGGLE BUTTON -------------*/

.btn-group>.btn-toggle-fix {
  border-top-right-radius: 10px!important;
  border-bottom-right-radius: 10px!important;
}


.button-base-toggle {
  font-family: "MontserratMedium";
  text-transform: uppercase;
  font-size: 1.6rem;
  width: inherit;
  background-color: var(--white-color);
  color: var(--blue-color);
  border-radius: 10px!important;
  box-shadow: var(--soft-shadow);
}

.btn-toggle {
  width: 50%;
  border: none;
  background: transparent;
}

.btn-toggle.right {
  float: right;
  width: 50%;
}

.btn-toggle-active {
  background-color: var(--blue-color);
  color: var(--white-color);
  border-radius: 10px;
  box-shadow: var(--soft-shadow);
}

.toggle-left {
  animation: toggleAnim 1s reverse ease-in-out;
}

.toggle-right {
  animation: toggleAnim 1s forwards ease-in-out;
}

@keyframes toggleAnim {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100px);
    /*opacity: 1;*/
  }
}

*:focus
{
  outline: none;
}


