.sidebar-animation-close {
  animation: moveOutOfView 1s 1 forwards;
}

.sidebar-animation-open {
  width: 0%;
  animation: moveIntoView 1s 1 forwards;
}

@keyframes moveIntoView {
  from {
    width: 75%;
    margin-left: -70%;
  }

  to {
    width: 100%;
    margin-left: 0%;
  }
}

@keyframes moveOutOfView {
  from {
    width: 100%;
    margin-left: 0%;
  }

  to {
    width: 75%;
    margin-left: -100%;
  }
}
