@import "../../../../styles/general/colors";
/****************************************************/
/*************** FILTER CUSTOM DROP *****************/

.basic-input__drop {
  box-shadow: $soft-shadow;
  background: #fff;
  list-style: none;
  padding: 0;
  position: absolute;
  width: inherit;
  z-index: 10;
  max-height: 15rem;
  overflow: auto;

  &::-webkit-scrollbar {
    width: .7rem;
    border-right: .1rem solid $grey-color;
  }

  &::-webkit-scrollbar-thumb {
    border-right: .1rem solid $grey-color;
    background-color: $blue-color;
  }

  li {
    padding: .7rem 2.5rem .7rem 2.5rem;

    &:hover {
      background: $white-color;
      cursor: pointer;
    }
  }
}
