<div class="login">
  <div id="background-animation"></div>
  <div class="main-container">
    <div class="main-container__margin">

      <div class="login-header">
        <img class="wd-logo-white" src="../../../../assets/login/logo_white.png" alt="">
        <h1 class="text-1_semibold">Timer</h1>
      </div>
      <div class="login-grid">

        <div class="login-grid__stats">
          <div class="login-grid__stats__container">
            <p class="text-4_regular">666</p>
            <img class="stats-icon stats-icon__projects" src="../../../../assets/login/projects-icon.png" alt="">
            <p class="text-4_regular">Projects</p>
          </div>
          <div class="login-grid__stats__container">
            <p class="text-4_regular">666</p>
            <img class="stats-icon stats-icon__clients" src="../../../../assets/login/clients-icon.png" alt="">
            <p class="text-4_regular">Projects</p>
          </div>
          <div class="login-grid__stats__container">
            <p class="text-4_regular">666</p>
            <img class="stats-icon stats-icon__hours" src="../../../../assets/login/hours-icon.png" alt="">
            <p class="text-4_regular">Projects</p>
          </div>
        </div>

        <div class="login-grid__login">
          <form action="" class="">
            <div class="form-header">
              <h2 class="text-1_semibold">Login</h2>
            </div>
            <div class="template-area">
              <div class="group-form">
                <label class="basic-label" for="email">Email</label>
                <input class="basic-input text-5" type="email" id="email">
              </div>
            </div>
            <div class="template-area">
              <div class="group-form">
                <label class="basic-label" for="password">Password</label>
                <input class="basic-input text-5" type="password" id="password">
              </div>
            </div>

            <button class="login-button" type="button">
              <span class="text-5_semibold capitalize">Login</span>
            </button>
            <p class="text-5_semibold p-padding-fix">Or</p>
            <button class="google-button" type="button">
              <span class="text-5_semibold capitalize">Connect with Google</span>
            </button>
          </form>
        </div>

      </div>

    </div>
  </div>

</div>

