*:focus
{
  outline: none;
}

.form-fix {
  margin: auto 3rem;
}

.container-margin-bottom {
  margin-bottom: 10rem;
}

.button-add {
  margin: 3rem 5rem;
}

.box-shadow__soft {
  box-shadow: var(--soft-shadow);
}

//

.form-grid {
  width: 100%;
}

//.template-area {
//  background: pink;
//}

@media screen and (min-width: 550px) {
  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
  }
}

@media screen and (min-width: 950px) {
  .form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5rem;
  }
}

@media screen and (min-width: 1100px) {
  .form-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5rem;
  }
}

.button-add {
  margin: 0!important;
}




