*:focus
{
  outline: none;
}

.form-fix {
  margin: auto 3rem;
}

.container-margin-bottom {
  margin-bottom: 10rem;
}

.button-add {
  margin: 3rem 5rem;
}

.box-shadow__soft {
  box-shadow: var(--soft-shadow);
}





