<div class="container container-margin-bottom">
  <form class="form-fix">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-xl-3">
        <div class="form-group">
          <label class="basic-label" for="department">Department</label>
          <select class="basic-select text-5 basic-select" id="department">
            <option value="">Select a department</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-xl-3">
        <div class="form-group">
          <label  class="basic-label" for="client">Client</label>
          <select class="basic-select text-5 basic-select" id="client">
            <option value="">Select a client</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-xl-3">
        <div class="form-group">
          <label class="basic-label" for="startDate">StartDate</label>
          <input class="basic-input text-5" type="date" id="startDate">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-xl-3">
        <div class="form-group">
          <label class="basic-label" for="year">Year</label>
          <input class="basic-input text-5" type="number" id="year" placeholder="Select a year">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-xl-3">
        <div class="form-group">
          <label class="basic-label" for="category">Category</label>
          <select class="basic-select text-5 basic-select" id="category">
            <option value="">Select a category</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-xl-3">
        <div class="form-group">
          <label class="basic-label" for="project">Project</label>
          <select class="basic-select text-5 basic-select" id="project">
            <option value="">Select a project</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-xl-3">
        <div class="form-group">
          <label class="basic-label" for="endDate">End Date</label>
          <input class="basic-input text-5" type="date" id="endDate">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-xl-3">
        <div class="btn-base-toggle align-bottom" data-toggle="buttons" (click)="onToggleButton()">
          <span
            [ngClass]="{'btn-switcher__animate': animState.currentAnim === 'btn-switcher__animate', 'btn-switcher__animate__reverse': animState.currentAnim === 'btn-switcher__animate__reverse'}"
            class="btn-switcher"></span>
          <button
            [ngClass]="{'btn-toggle__active': animState.btn1}"
            class="btn-toggle btn-toggle__fix"
            type="button">Check in</button>
          <button
            [ngClass]="{'btn-toggle__active': animState.btn2}"
            class="btn-toggle right btn-toggle__fix"
            type="button">Tasks</button>
        </div>
      </div>
    </div>
  </form>
  <button  class="btn button-add float-right">
    <img src="../../../../../assets/user-history/add-icon-white.png" width="30">
  </button>

</div>
