<div class="tasksdone__switch-day" style="margin: 25px;margin-left: calc(50% - 150px);">
  <span [ngClass]="{'active2 toggleLeft': isOnMoveLeft, 'active toggleRight': isOnMoveRight}"
        [ngStyle]="{'display': isNotOnMove ? 'none' : 'block'}"> </span>
  <button
    class="button-base-switch"
    [class.active-switch]="isTodayActive === true"
    (click)="ChangeState($event)">Today</button>
  <button
    class="button-base-switch"
    [class.active-switch]="isYesterdayActive === true"
    (click)="ChangeState($event)">Yesterday</button>
</div>

<div class="tasksdone__view-day pt-5 pb-2 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h3 class="text-5_SemiBold"> Department </h3>
        <h3 class="text-5_SemiBold"> Category </h3>
      </div>
      <div class="col-4">
        <h3 class="text-5_SemiBold"> Client </h3>
        <h3 class="text-5_SemiBold"> Project </h3>
      </div>
      <div class="col-4">
        <h3 class="text-5_SemiBold"> Time Spent </h3>
      </div>
    </div>
    <hr>
    <div *ngFor="let session of sessions">
      <div *ngIf="session.date.slice(0,10) === pickedDate.slice(0,10)">
        <div class="row mt-4 mb-4">
          <div class="col-4">
            <p class="text-5"> {{ session.department }} </p>
            <p class="text-5"> {{ session.category }} </p>
          </div>
          <div class="col-4">
            <p class="text-5"> {{ session.client }} </p>
            <p class="text-5"> {{ session.project }} </p>
          </div>
          <div class="col-4">
            <p class="text-5"> {{ session.time }} </p>
            <img src="../../../assets/tracking/restart-icon.png" width="22" style="margin-left: 45px;">
          </div>
        </div>
        <hr>
      </div>
    </div>
    <div class="row justify-content-end mt-4 mb-4">
      <div class="col-4">
        <p class="text-5_SemiBold"> Total </p>
      </div>
      <div class="col-4">
        <p class="text-5"> 00 : 00 : 00 </p>
      </div>
    </div>
  </div>
</div>
