<div class="container">
  <div class="row">
    <div class="data-table__month">February</div>

    <div class="data-table__overview pt-5 pb-2 mb-5">
      <div class="container">
        <div class="row">
          <div class="col-4 col-lg-5 d-lg-flex justify-content-around">
            <h3 class="text-5_SemiBold"> Department </h3>
            <h3 class="text-5_SemiBold"> Category </h3>
          </div>
          <div class="col-4 col-lg-4 d-lg-flex justify-content-around">
            <h3 class="text-5_SemiBold "> Client </h3>
            <h3 class="text-5_SemiBold "> Project </h3>
          </div>
          <div class="col-4 col-lg-3">
            <h3 class="text-5_SemiBold "> Time Spent </h3>
          </div>
        </div>
        <hr>
        <div *ngFor="let session of sessions">
          <div *ngIf="session.date.slice(0,10) === pickedDate.slice(0,10)">
            <div class="row mt-4 mb-4">
              <div class="col-4 col-lg-5 d-lg-flex justify-content-around">
                <p class="text-5 "> {{ session.department }} </p>
                <p class="text-5 "> {{ session.category }} </p>
              </div>
              <div class="col-4  col-lg-4 d-lg-flex justify-content-around">
                <p class="text-5 "> {{ session.client }} </p>
                <p class="text-5 "> {{ session.project }} </p>
              </div>
              <div class="col-4  col-lg-3 d-lg-flex justify-content-around">
                <p class="text-5 "> {{ session.time }} </p>
                <img src="../../../assets/tracking/restart-icon.png" width="22" height="22" style="margin-left: 45px;"
                     class="">
              </div>
            </div>
            <hr>
          </div>
        </div>
        <div class="row justify-content-end mt-4 mb-4">
          <div class="col-4">
            <p class="text-5_SemiBold"> Total </p>
          </div>
          <div class="col-4">
            <p class="text-5"> 00 : 00 : 00 </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
