.form__add-task {
  color: var(--blue-color);
}

@media screen and (min-width: 800px) {

  .form__control-buttons {
    position: absolute;
    box-shadow: none;
    margin-left: -25vw;
  }

  .form__control-buttons * {
    width: 100vw;
    margin: 5px 20px;
  }

}
