<nav class="navbar navbar-light bg-light">
  <a class="navigation__menu-icon">
    <img src="../../assets/close-icon-dummy.png" width="32" height="32" alt="Menu Icon" (click)="closeSidebar()">
  </a>
  <button class="navigation__profile-icon float-right navbar-toggler" 
  type="button" 
  (click)="toggleNavbar()"
  >
    <div class="navigation__profile-icon-container">
    </div> 
  </button>
  <div class="collapse navbar-collapse" style="display:block" [style.display]="displayNav">
    <div class="navbar-nav">
    <hr class="mt-2 mb-2"> 
      <p class="navigation__profile-username text-4 text-center"> Alex D </p>
      <p class="navigation__profile-email text-5 text-center"> alex.d.wiredelta@gmail.com </p>
      <a class="navigation__profile-controls text-center">
        <img src="../../assets/navbar-icon-dummy.PNG" class="pr-2" width="36" height="36" alt="Edit Profile">
        <img src="../../assets/navbar-icon-dummy.PNG" class="pl-2" width="36" height="36" alt="Exit Account">
      </a> 
    <hr class="mt-2 mb-2">
    <h5 class="navigation__profile-company"> Wiredelta </h5>
    </div>
  </div>
</nav>

<div style="text-transform: uppercase;">
  <ul class="list-group"> 
  <li class="list-group-item">
  <p class="text-2"> User </p>
  <ul>
    <li class="text-3 align-content"> <span class="icon-sidebar pr-2 icon_tracking"> </span>Tracking </li>
    <li class="text-3 align-content"> <span class="icon-sidebar pr-2 icon_user-history"> </span>User History </li>
    <li class="text-3 align-content"> <span class="icon-sidebar pr-2 icon_activity"> </span>Activity </li>
  </ul>
  </li>
  <li class="list-group-item"> 
  <p class="text-2"> Projects</p>
  <ul>
    <li class="text-3 align-content"> <span class="icon-sidebar pr-2 icon_project-history"> </span>Project History</li>
  </ul>
  </li>
  <li class="list-group-item"> 
  <p class="text-2"> Admin </p>
  <ul>
    <li class="text-3 align-content"> <span class="icon-sidebar pr-2 icon_form-setting"> </span>Form Setting </li>
    <li class="text-3 align-content"> <span class="icon-sidebar pr-2 icon_users"> </span>Users </li>
    <li class="text-3 align-content"> <span class="icon-sidebar pr-2 icon_clients-projects"> </span>Clients & Projects </li>
    <li class="text-3 align-content"> <span class="icon-sidebar pr-2 icon_user-access"> </span>User Access </li>
  </ul>
  </li>
  </ul>
</div>