<div class="green-message">
  <h3>Offices overview</h3>
  <button>
    <img class="button__arrow" src="../../../../../assets/activity/arrow-icon-green.png"/>
  </button>
</div>

<form class="form-grid">

  <div class="template-area">
    <div class="group-form">
      <label class="basic-label" for="date">Date</label>
      <input class="basic-input text-5" type="date" id="date">
    </div>
  </div>

  <div class="template-area">
    <div class="group-form">
      <label class="basic-label" for="user">User</label>
      <input class="basic-select text-5" id="user" placeholder="Enter a username">
    </div>
  </div>

  <div class="template-area">
    <div class="group-form">
      <label class="basic-label" for="office">Office</label>
      <select class="basic-select text-5" id="office">
        <option value="">Select an Office</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
  </div>

</form>
