<div class="dropdown-message">
  <p class="text-4_semibold capitalize"> Filter &nbsp;&nbsp; </p>
  <img class="dropdown-icon"
       src="../../../../../assets/arrow-icon-down.png"
       (click)="toggleDropdown()">
</div>

<form class="form-grid dropdown-content"
      [ngStyle]="dropdownState && {'animation': 'increaseHeight 0.5s 1 forwards, increaseOpacity 0.5s 1 1s forwards'}">

  <div class="template-area">
    <div class="group-form">
      <label class="basic-label" for="date">Date</label>
      <input class="basic-input text-5" type="date" id="date">
    </div>
  </div>

  <div class="template-area">
    <div class="group-form">
      <label class="basic-label" for="user">User</label>
      <input class="basic-select text-5" id="user" placeholder="Enter a username">
    </div>
  </div>

  <div class="template-area">
    <div class="group-form">
      <label class="basic-label" for="office">Office</label>
      <select class="basic-select text-5" id="office">
        <option value="">Select an Office</option>
        <option value="copenhagen">Copenhagen</option>
        <option value="coimbatore">Coimbatore</option>
        <option value="mysore">Mysore</option>
      </select>
      <div class="icon-field reset-select"> </div>
    </div>
  </div>

</form>

