<div class="data-table__dropdown-container">
  <div class="dropdown-button container">
    <div class="dropdown-button__header row">
      <div class="dropdown-button__header__margin col-xs-6">
        <p class="text-4_medium"> Coimbatore </p>
      </div>
      <p class="text-5_regular col-xs-6"> 2 connected </p>
    </div>
    <img class="dropdown-button__arrow" (click)="toggleDropdown1()"
      [ngStyle]="dropdownState1 && {'animation': 'rotateDropdown 0.5s 1 forwards'}"
      src="../../../../../assets/user-history/arrow-icon-white.png" />
  </div>
</div>

<div class="data-table pt-5 pb-2 mb-5">
  <div class="container">
    <div class="row mb-3 mt-3">
      <div class="col-6 d-flex justify-content-center">
        <div class="profile-image">
        </div>
      </div>
      <div class="col-6 d-flex">
        <p class="text-5_semibold align-self-center"> Alex D </p>
      </div>
    </div>
    <div class="row mb-3 mt-3">
      <div class="col-6 d-flex justify-content-center">
        <div class="profile-image">
        </div>
      </div>
      <div class="col-6 d-flex">
        <p class="text-5_semibold align-self-center"> Alex D </p>
      </div>
    </div>
  </div>
</div>

<div class="data-table__dropdown-container">
  <div class="dropdown-button container">
    <div class="dropdown-button__header row">
      <div class="dropdown-button__header__margin col-xs-6">
        <p class="text-4_medium"> Copenhagen </p>
      </div>
      <p class="text-5_regular col-xs-6"> 8 connected </p>
    </div>
    <img class="dropdown-button__arrow" (click)="toggleDropdown1()"
      [ngStyle]="dropdownState1 && {'animation': 'rotateDropdown 0.5s 1 forwards'}"
      src="../../../../../assets/user-history/arrow-icon-white.png" />
  </div>
</div>

<div class="data-table pt-5 pb-2 mb-5">
  <div class="container">
    <div class="row mb-3 mt-3">
      <div class="col-6 d-flex justify-content-center">
        <div class="profile-image">
        </div>
      </div>
      <div class="col-6 d-flex">
        <p class="text-5_semibold align-self-center"> Alex D </p>
      </div>
    </div>
    <div class="row mb-3 mt-3">
      <div class="col-6 d-flex justify-content-center">
        <div class="profile-image">
        </div>
      </div>
      <div class="col-6 d-flex">
        <p class="text-5_semibold align-self-center"> Alex D </p>
      </div>
    </div>
  </div>
</div>

<div class="data-table__dropdown-container">
  <div class="dropdown-button container">
    <div class="dropdown-button__header row">
      <div class="dropdown-button__header__margin col-xs-6">
        <p class="text-4_medium"> New York </p>
      </div>
      <p class="text-5_regular col-xs-6"> 1 connected </p>
    </div>
    <img class="dropdown-button__arrow" (click)="toggleDropdown1()"
      [ngStyle]="dropdownState1 && {'animation': 'rotateDropdown 0.5s 1 forwards'}"
      src="../../../../../assets/user-history/arrow-icon-white.png" />
  </div>
</div>

<div class="data-table pt-5 pb-2 mb-5">
  <div class="container">
    <div class="row mb-3 mt-3">
      <div class="col-6 d-flex justify-content-center">
        <div class="profile-image">
        </div>
      </div>
      <div class="col-6 d-flex">
        <p class="text-5_semibold align-self-center"> Alex D </p>
      </div>
    </div>
    <div class="row mb-3 mt-3">
      <div class="col-6 d-flex justify-content-center">
        <div class="profile-image">
        </div>
      </div>
      <div class="col-6 d-flex">
        <p class="text-5_semibold align-self-center"> Alex D </p>
      </div>
    </div>
  </div>
</div>
