:root {
  --grey-color: #727272;
  --blue-color: #4B87AD;
  --light-mint-color: #A6ECDD;
  --turqoise-color: #4FDABC;
  --pine-green-color: #47A89B;
  --white-color: #F8F8F8;
  --generic-shadow: 0px 3px 10px #4E4D4D;
  --soft-shadow: 0px 2px 10px #d1cfcf;
}

$grey-color: #727272;
$grey-color-light: #b3b3b3;
$blue-color: #4B87AD;
$light-mint-color: #A6ECDD;
$turquoise-color: #4FDABC;
$pine-green-color: #47A89B;
$white-color: #F8F8F8;
$generic-shadow: 0px 3px 10px #4E4D4D;
$soft-shadow: 0px 2px 10px #d1cfcf;
