/* Reset */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-top-style: none !important;
  border-right-style: none !important;
  border-left-style: none !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}


.basic-input {
  display: block;
  width: 100%;
  height: 3.5rem;
  padding-top: .5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: $grey-color-light;
  background-color: #fff;
  background-clip: padding-box;
  border-bottom: .1rem solid var(--grey-color);

  &:focus {
    color: $grey-color;
  }
}


.basic-select {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: $grey-color-light;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 0;
  border-bottom: .1rem solid var(--grey-color);

  &:focus {
    color: $grey-color;
  }
}

.basic-label {
  font-family: 'MontserratSemiBold', sans-serif;
  font-size: 1.8rem;
  color: var(--blue-color);
  text-transform: capitalize;
}

.group-form {
  margin-bottom: 1rem;
  min-height: 9rem !important;
  width: 100%;
  position: relative;
}
