.text-1_regular {
  font-family: 'MontserratRegular', sans-serif;
  font-size: 3.2rem;
}

/* Page Title */

.text-1 {
  font-family: 'MontserratSemiBold', sans-serif;
  text-transform: uppercase;
  font-size: 3.2rem;
}

.text-2 {
  font-family: 'MontserratSemiBold', sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.text-2_regular {
  font-family: 'MontserratRegular', sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
}

/* Page Subtitle */

.text-3 {
  font-family: 'MontserratMedium', sans-serif;
  font-size: 2rem;
}

.text-3_regular {
  font-family: 'MontserratRegular', sans-serif;
  font-size: 2rem;
}

.text-4_regular {
  font-family: 'MontserratRegular', sans-serif;
  font-size: 1.8rem;
}

.text-4 {
  font-family: 'MontserratSemiBold', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.text-5 {
  font-family: 'MontserratRegular', sans-serif;
  font-size: 1.5rem;
}

.text-5_SemiBold {
  font-family: 'MontserratSemiBold', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}
